@model IEnumerable<OgrenciSistemi.Models.Ogretmen>
<p>
	<a asp-action="Create" class="btn btn-primary">Create New</a>

</p>
<table class="table">



	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.OgretmenAdi)</th>
			<th>@Html.DisplayNameFor(model => model.OgretmenBrans)</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.OgretmenAdi)</td>
				<td>@Html.DisplayFor(modelItem => item.OgretmenBrans)</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.OgretmenNo" class="btn btn-success">Edit</a>
					<a asp-action="Delete" asp-route-id="@item.OgretmenNo" class="btn btn-danger">Delete</a>
				</td>

			</tr>


		}
	</tbody>







</table>

